In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.tail(10)

,qid,question_text,target
1306112,ffffa5b0fa76431c063f,Are you ashamed of being an Indian?,1
1306113,ffffae5dbda3dc9e9771,What are the methods to determine fossil ages ...,0
1306114,ffffba7c4888798571c1,What is your story today?,0
1306115,ffffc0c7158658a06fd9,How do I consume 150 gms protein daily both ve...,0
1306116,ffffc404da586ac5a08f,What are the good career options for a msc che...,0
1306117,ffffcc4e2331aaf1e41e,What other technical skills do you need as a c...,0
1306118,ffffd431801e5a2f4861,Does MS in ECE have good job prospects in USA ...,0
1306119,ffffd48fb36b63db010c,Is foam insulation toxic?,0
1306120,ffffec519fa37cf60c78,How can one start a research project based on ...,0
1306121,ffffed09fedb5088744a,Who wins in a battle between a Wolverine and a...,0

In [4]:
df['target'].value_counts()

0    1225312
1      80810
Name: target, dtype: int64

In [5]:
import spacy

In [6]:
spacy_en = spacy.load('en')

In [7]:
text = 'One fish, two fish red fish blue fish, Mr. Clean'
[tok.text for tok in spacy_en.tokenizer(text)]

['One',
 'fish',
 ',',
 'two',
 'fish',
 'red',
 'fish',
 'blue',
 'fish',
 ',',
 'Mr.',
 'Clean']

In [8]:
embedding_file = 'paragram_300_sl999.txt'